body {
    background-color: #1d212c;
}

.containerApp2{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.imgContainer{
    background-image: url("assets/Pc4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}